h1 {
font-size:9rem;
font-family: 'Kaushan Script', cursive;
font-weight:800;
letter-spacing: -0.75rem;
color:beige;
text-shadow: 5px 2px 2px rgba(150, 150, 150, 1);
}

h1 span{
    mix-blend-mode:multiply;
}

h2 {
    margin-top:31%;
    font-size:4rem;
    font-family: 'Kaushan Script', cursive;
    font-weight:800;
    letter-spacing: -0.5rem;
    color:beige;
    text-shadow: 5px 2px 2px rgba(150, 150, 150, 1);
}