h1 {
font-size:6rem;
font-family: 'Do Hyeon', sans-serif;
font-weight:800;
letter-spacing: -0.75rem;
color:#222222;
text-shadow: 5px 2px 2px rgba(150, 150, 150, 1);
}

h1 span{
    mix-blend-mode:multiply;
}

h2 {
    margin-top:31%;
    font-size:4rem;
    font-family: 'Do Hyeon', sans-serif;
    font-weight:800;
    letter-spacing: -0.5rem;
    color:#4894FA;
    text-shadow: 5px 2px 2px rgba(150, 150, 150, 1);
}